DEPLOYER_PUBLIC_KEY=0x88445F4F84572a59e482Aba288039b29C897547A
LIVENET_MNEMONIC="pitch mosquito narrow brick path trend tiny traffic monitor security detect loop paddle day chase slice tackle grow foster enough wrist real only gesture"

# Solidity optimizations, don't enable for debugging
OPTIMIZER_DISABLED=true

# Deployment details
HIDE_DEPLOY_LOG=

# Show table with gas usage
REPORT_GAS=false

# For deployment verifications
BSCSCAN_API_KEY=
